body{
  color:#fff;
  font-family:'Lato';
  font-weight:100;
  font-size:17px;
}
.image_logo{
  margin-bottom:40px;
}
.content_centered{
  position:absolute;
  top:50%;
  left:50%;
  width:530px;
  height:220px;
  margin:-110px 0 0 -265px;
  text-align:center;
}
strong{
  font-family:'Montserrat';
  font-weight:100;
}
.container{
  background-image: linear-gradient(-135deg, #330F50 0%, #28857B 100%);
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
}
.ft_logo{
  display:block;
  position:fixed;
  bottom:20px;
  right:20px;
  height:61px;
  width:80px;
  background-image:url('flip_tables_logo.svg');
  background-size:80px;
  opacity:0.1;
}
.ft_logo:hover{
  opacity:1;
}
